gradebook/src/GradeBook/bin/*
gradebook/src/GradeBook/obj/*
gradebook/test/GradeBook.Tests/bin/*
gradebook/test/GradeBook.Tests/obj/*
playground/src/PlayGround/bin/*
playground/src/PlayGround/obj/*
playground/test/bin/*
playground/test/obj/*
/playground/.vs/playground
GameConsoleNullables/GameConsoleNullables/bin/*
GameConsoleNullables/GameConsoleNullables/obj/*
GameConsoleNullables/.vs/*
GameConsoleNullables/GameConsoleNullables/.vs/*
/GameConsoleNullables/GameConsoleBaseClassPattern/obj
/GameConsoleNullables/GameConsoleBaseClassPattern/bin
ACM/ACM.BL/bin/*
ACM/ACM.BL/obj/*
ACM/Tests/ACM.BLTest/bin/*
ACM/Tests/ACM.BLTest/obj/*
datetimehandle/src/datetimehandle/bin/*
datetimehandle/src/datetimehandle/obj/*
datetimehandle/test/datetimehandle.test/bin/*
datetimehandle/test/datetimehandle.test/obj/*
/datetimehandle/.vs/datetimehandle/v16
/datetimehandle/.vs/datetimehandle/DesignTimeBuild
/SessionBuilder/SessionBuilder.Core/obj
/SessionBuilder/SessionBuilder.Web/.vs/SessionBuilder.Web
/SessionBuilder/SessionBuilder.Web/SessionBuilder.Web/obj
/SessionBuilder/SessionBuilder.Web/SessionBuilder.Web/wwwroot/lib
/Interfaces/Person/.vs/Person/v16/Server/sqlite3
/Interfaces/Person/Person/obj
/Interfaces/Person/Person.CsvRepository/obj
/Interfaces/Person/Person.ServiceRepository/obj
/Interfaces/Person/Person.TestMock/obj
/Interfaces/Person/PersonViewer/obj
/Interfaces/Person/.vs/Person/v16
/Interfaces/Person/Person/bin/Debug/netstandard2.0
/Interfaces/Person/Person.CsvRepository/bin/Debug/netstandard2.0
/Interfaces/Person/Person.ServiceRepository/bin/Debug/netstandard2.0
/Interfaces/Person/Person.TestMock/bin/Debug/netstandard2.0
/Interfaces/Person/PersonViewer/bin/Debug/netcoreapp2.2
/LINQ/Introduction/.vs/LinqSamples
/LINQ/Introduction/Cars/obj
/LINQ/Introduction/Features/obj
/LINQ/Introduction/Introduction/obj
/LINQ/Introduction/Queries/obj
/LINQ/Introduction/Cars/bin/Debug/netcoreapp2.2
/LINQ/Introduction/Cars/bin/Debug/netcoreapp3.0
/DelegatesAndEvents/.vs/DelegatesAndEvents/v16
/DelegatesAndEvents/DelegatesAndEvents/bin/Debug/netcoreapp3.0
/DelegatesAndEvents/DelegatesAndEvents/obj
/DelegatesAndEvents/.vs/DelegatesAndEvents/DesignTimeBuild
/DelegatesDemo/.vs/DelegatesDemo/v16
/DelegatesDemo/ConsoleUI/bin/Debug
/DelegatesDemo/ConsoleUI/obj/Debug
/DelegatesDemo/DemoLibrary/bin/Debug
/DelegatesDemo/DemoLibrary/obj/Debug
/DelegatesDemo/WinFormUI/bin/Debug
/DelegatesDemo/WinFormUI/obj/Debug
