################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Extensions/.vs/Extensions/v16/Server/sqlite3
